<!doctype html>

<html>
  
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
  </head>

  <body>
      
    <div class="sidebar" id="primary-sidebar">

      <div class="sidebar-branding">
        <a href="/">
          <span class="sidebar-branding-logo">
            PW
          </span>
        </a>
        <hgroup class="sidebar-branding-title">
          <h1>Peter Wartman</h1>
          <h2>Illustration</h2>
        </hgroup>
      </div>

      <ul class="menu sidebar-menu">
        <li class="option option-inline">
          <a class="option-toggle is-selected" data-tab="projects" href="/">Projects</a>
        </li>
        {% for page in sidebarPages %}
          <li class="option option-inline">
            <a class="option-toggle" 
              data-tab="{{page.slug}}" 
              href="/page/{{page.slug}}">
              {{ page.title }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <div class="sidebar-sections">

        <div class="sidebar-section sidebar-section--projects">
          {% if projects %}
            <ul class="grid">
              {% for project in projects %}
                <li class="grid-item">
                  <a href="/projects/{{project.slug}}">
                    <img src="/media/{{project.thumbnail}}" alt="{{project.title}}">
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

        {% for page in sidebarPages %}
          <div class="sidebar-section sidebar-section--{{page.slug}}" style="display:none">
            {{page.body|safe}}
          </div>
        {% endfor %}
      </div>

    </div>

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <script src="/scripts/main.js"></script>

  </body>

</html>