<!doctype html>

<html>
  
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
  </head>

  <body>
      
    <div class="sidebar">

      <div class="sidebar-branding">
        <a href="/">
          <span class="sidebar-branding-logo">
            PW
          </span>
        </a>
        <hgroup class="sidebar-branding-title">
          <h1>Peter Wartman</h1>
          <h2>Illustration</h2>
        </hgroup>
      </div>

      <ul class="menu sidebar-menu">
        <li class="option option-inline">
          <a {% if site.currentSection == '/' %} class="is-selected" {% endif %} href="/">Projects</a>
        </li>
        <li class="option option-inline">
          <a {% if site.currentSection == '/page/about' %} class="is-selected" {% endif %} href="/page/about">About</a>
        </li>
        <li class="option option-inline">
          <a {% if site.currentSection == '/page/contact' %} class="is-selected" {% endif %} href="/page/contact">Contact</a>
        </li>
      </ul>

      <div class="sidebar-section sidebar-section--projects">
        {% if projects %}
          <ul class="grid">
            {% for project in projects %}
              <li class="grid-item">
                <a href="/projects/{{project.slug}}">
                  <img src="/media/{{project.thumbnail}}" alt="{{project.title}}">
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

    </div>

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <script src="/scripts/main.js"></script>

  </body>

</html>