fontFamily = Arial, 'Helvetica Neue', sans-serif

config = {
  
  colors: {
    primary: #343434
    offset: #EAEAEA
  }
  
  fonts: {
    normal: {
      family: fontFamily
      size: 12px
      line-height: 15px
      weight: normal
    }
    title: {
      family: fontFamily
      size: 14px
      weight: 600
      line-height: 15px
    }
  }

}