@require './config'

// UI
// ==

// Buttons
// -------
-button(bg=config.colors.primary, color=config.colors.offset) {
  border-radius: 3px
  background-color: bg
  color: color
  height: 30px
  line-height: 30px
  font-weight: 600
  text-decoration: none
  height: 30px
  padding: 0 10px
  margin: 0 10px 0 0
  float: left
  display: block
}

