body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  width: 100%;
  position: relative;
  color: #343434;
  background: #fff;
  font-family: Arial, 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
}
h1,
h2,
h3 {
  font-family: Arial, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  margin: 0 0 10px;
  padding: 0;
}
.menu {
  overflow: hidden;
}
.option-inline {
  float: left;
}
.sidebar {
  overflow: hidden;
  position: fixed;
  width: 250px;
  top: 0px;
  bottom: 0px;
  background: #343434;
  color: #fff;
  z-index: 3;
  padding: 20px;
}
.sidebar .sidebar-branding {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
}
.sidebar .sidebar-branding .sidebar-branding-logo {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  background: transparent url("images/logo.svg") 0 0;
  height: 60px;
  width: 60px;
  float: left;
}
.sidebar .sidebar-branding .sidebar-branding-title {
  float: left;
  margin: 15px 0 15px 20px;
}
.sidebar .sidebar-branding .sidebar-branding-title h1,
.sidebar .sidebar-branding .sidebar-branding-title h2 {
  margin: 0;
}
.sidebar .sidebar-menu {
  height: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-width: 2px;
  border-color: #fff;
  border-style: solid;
  height: 30px;
  line-height: 25px;
  overflow: hidden;
}
.sidebar .sidebar-menu .option a {
  border-radius: 5px;
  border-width: 2px;
  border-color: #fff;
  border-style: solid;
  background-color: transparent;
  color: #fff;
  height: 30px;
  line-height: 25px;
  font-weight: 600;
  text-decoration: none;
  height: 30px;
  padding: 0 8px;
  margin: 0 10px 0 0;
  float: left;
  display: block;
  border-width: 0 2px 0 0;
  border-radius: 0;
  margin: 0;
}
.sidebar .sidebar-menu .option a:hover,
.sidebar .sidebar-menu .option a.is-selected {
  background-color: #fff;
  color: #343434;
}
.sidebar .sidebar-menu .option:last-child a {
  border-width: 0;
}
.sidebar .sidebar-menu .option {
  width: 33.3333333333333%;
}
.sidebar .sidebar-menu .option a {
  width: 100%;
  text-align: center;
}
.sidebar .sidebar-section .grid {
  overflow: hidden;
}
.sidebar .sidebar-section .grid .grid-item {
  height: 85px;
  width: 85px;
  margin: 0px 10px 20px;
  border-radius: 50%;
  display: block;
  float: left;
  overflow: hidden;
}
.content {
  margin: 0 0 0 250px;
  padding: 20px;
}
.page-header {
  border-bottom: 2px solid #343434;
  line-height: 20px;
  margin-bottom: 20px;
}
